* {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 100%;
}


html,
body {
    background-color: #161616;
    color: #FEFEFE;
}


body > * {
    display: flex;
    justify-content: center;
    height: 2800px;
}
body > * > * {
    height: 100%;
    width: 100%;
    max-width: 75rem;
}

header,
footer {
    height: 80px;
    background-color: #101010;
}

footer {
    height: 400px;
}
