@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
}


html,
body,
#root {
    width: 100%;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}


header {
    transition: box-shadow .3s ease-in-out, height .3s ease-in-out;
}

header > div > div > svg {
    transition: height .3s ease-in-out, width .3s ease-in-out;
} header > div > div > h1 {
    transition: opacity .3s ease-in-out;
}


svg {
    height: 36px;
    aspect-ratio: 1;
    fill: none;
    stroke: #000000;
    stroke-width: .75;
    stroke-linecap: round;
    stroke-linejoin: round;
}


header a:hover {
    cursor: pointer;
    background-color: #16161616;
}